@{
    ViewData["Title"] = "关于我们";
}
<style type="text/css">
    .toc-h2 {
        border-top: 1px solid #ccc
    }
    .bc-sidebar .nav {
        border: 1px solid #ccc;
        border-top:0px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-3 ">
            <div id="toc" class="bc-sidebar">
                <ul class="nav">
                    <li class="toc-h2">
                        <a href="#toc0">关于我们</a>
                    </li>
                    <li class="toc-h2">
                        <a href="#toc1">展示你的个人图片作品</a>
                    </li>
                    <li class="toc-h2">
                        <a href="#toc2">加入我们</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            <article class="post page">
                <section class="post-content">
                    <h2 id="toc0">关于我们</h2>
                    <p>爱留图 -- 由一个热爱祖国，热爱生活，热爱分享的工程师创建于2017年。目的是收集留存引发大众瞬间灵感的画面，个人旅游风采的画面，团团圆圆温馨场景的画面，以及定期专栏开设的活动画面的收集。</p>
                    <h2 id="toc1">展示你的个人图片作品</h2>
                    <p>你是“爱留图”粉丝吗？你正在用“爱留图”吗？你从朋友那儿听说“爱留图”了吗？那就把你个人的图片作品show出来吧！</p>
                    <p>凡是经过邮件方式，或个人注册成用户发布自己的留存图片用户，将有机会获得“爱留图”的推荐。</p>
                    <blockquote>
                        <p>请发邮件到下面的邮箱，并在邮件标题上注明（爱留图粉丝）。<br>Mail： 841202396@qq.com</p>
                    </blockquote>
                    <h2 id="toc2">加入我们</h2>
                    <p>爱留图致力于坚持分享、开放的互联网精神，旨在为大众提供图片留存记录，如果你和我们有相同的目标，我们乐意一起携手前行。</p>
                </section>
            </article>
        </div>
    </div>

</div>