@{
    ViewData["Title"] = "友情提示";
}
<h2 class="text-danger">友情提示：@ViewData["msgbox"]</h2>
<br />
<h3>以下步骤或许让你网页回复正常：</h3>
<p>
    <ul>
        <li>点击这里“<a href="/"><strong>爱留图</strong></a>”回复正常</li>
        <li>尝试点击页面顶部的“<a href="/"><strong>首页</strong></a>”</li>
        <li>耐心等待开发人员修复</li>
    </ul>
</p>